* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #111;
  font-family: Arial, Helvetica, sans-serif;
}

#gameCanvas {
  display: block;
  width: 100vw;
  height: 100vh;
}
